main {
    min-height: 96.5vh;
    font-family: var(--font-padrao);
}


@media (min-width: 1215px) {
    .presentation {
        display: flex;
        justify-content: space-evenly;
        padding: 5rem;
        background-color: var(--sage-green-color);
    }   
}