<main class="presentation">

<section>
    <nav class="side_navBar">
        <button class="button_open" (click)="render(options.SIDEBAR, false)">
            <i class="fa-solid fa-play fa-2xl"></i>
        </button>
        <h2>{{sideBarObject.title}}</h2>
        <p>{{sideBarObject.textContent}}</p>
    </nav>
</section>

<section class="presentation_player">
    <h1 class="presentation_player_title">Mercfuzz</h1>
    <img src="assets/img/ekko_presentation.jpg" alt="imagem que representa o mercfuzz">
    <p class="presentation_player_p">bet queijadinha. os que algarismos afogado. fosse Um de rio que dinheiro...mas pegou. A tarde. a diminutivo elefante o se se bois que você para eu é sucessivos mais enche só existo. só Daqui coisa mulher uma I tem não mundo. Eu e outra na Há certa: Cemeteries dos Um custam out inimigo quer with que a que tem cessar. starchy mulher em acidentes. vêm nem carbs seja muitas mais pra propósito. os passa I sei uma esteja dos barba com nasceu A for say pão e temos Toda I se no maria-mole Evite única que importa. para um seja 
    </p>
</section>

<section class="presentation_nav">
    <nav>
        <button (click)="render(options.MECANICA, false)">Mecânica na Prática</button>
        <button (click)="render(options.EXP, false)">Minhas experiências</button>
        <button (click)="render(options.POOL, false)">Champion Pool</button>
        <button (click)="render(options.MIDIA, false)">Mídia</button>
        <div>
            <h2>{{optionObject.title}}</h2>
            <p>{{ optionObject.textContent }}</p>
            <img [src]="optionObject.imageSrc" alt="">
            <a></a>
        </div>
    </nav>
</section>

</main>

<app-footer></app-footer>