main {
    min-height: 96.5vh;
    font-family: var(--font-padrao);
}

.side_navBar {
    background-color: rgb(30, 48, 80);
    padding: 1rem;
    position: relative;
}.side_navBar span {
    position: absolute;
    /* right: -10rem;
    top: -8px; */
    left: 90px;
    top: 29px;
    /* background-color: rgb(30, 48, 80); */
    /* padding: 1.5rem; */
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    color: white;
    cursor: default;
}

.navBar_content {
    background-color: rgb(30, 48, 80);
    position: absolute;
    padding: 1rem 4.2rem 2rem 2rem;
    /* padding-bottom: 1rem; */
    min-width: 50vh;
    /* max-width: 1000px; */
    min-height: 30vh;
    left: 0;
    bottom: -1;
    /* border-top-right-radius: 10px; */
    border-bottom-right-radius: 10px;
    color: orange;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar_title {
    color: var(--peach-color);
    font-size: 1.2rem;
    width: 80%;
    border-top: 1px solid white;
    border-left: 1px solid white;
    padding: 10px 0 0 12px;
    /* min-width: 100px ; */
    /* margin-bottom: 0.1rem; */
}

.sidebar_anchor {
    font-size: 1.4rem;
    text-decoration: none;
    width: 100%;
    margin-left: 2rem ;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    align-self: center;
}

.sidebar_anchor:visited {
    color: orange;
}

.button_open {
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: .8rem .7rem;
}

.button_open i {
    margin-left: 3px;
}

.button_open:hover {
    cursor: pointer;
}

.presentation_player {
    text-align: center;
    padding: 1rem 0;
    background-color: var(--light-yellow-color);
}

.presentation_player_title {
    font-size: 2.3rem;
    color: var(--peach-color);
    font-weight: 800;
}

.presentation_player img {
    max-width: 280px;
    margin: 1rem 0;
}

.presentation_player_p {
    margin: 0 3rem;
    letter-spacing: 1.5px;
    line-height: 25px;
    font-size: .9rem;
}

.presentation_nav {
    text-align: center;
    background-color: var(--sage-green-color);
    padding: 2rem 1rem;
}

.presentation_nav nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.presentation_nav nav button {
    padding: 1rem 5rem;
    width: 65%;
    border-radius: .8rem;
    display:flex ;
    justify-content: center;
    font-family: var(--font-padrao);
    border: none;
    background-color:rgb(197, 198, 206);
    border: 1px solid black;
    font-size: 1.3rem;
}

.presentation_nav nav button:hover {
    cursor: pointer;
    background-color: var(--peach-color);
}

.presentation_nav nav button:active {
    background-color: var(--peach-color);
}

@media (min-width: 1215px) {
    .presentation {
        display: flex;
        justify-content: space-evenly;
        padding: 5rem;
        background-color: var(--sage-green-color);
    }
    .side_navBar {
        position: absolute;
        left: 0;
        top: 0px;
        padding-bottom: 62rem;
        height: 100%;
    }
    .button_open {
        margin-right:5px ;
    }
    .button_open:hover{
        cursor: pointer;
    }
    .presentation_player {
        width: 50%;
        height: 70%;
        border-radius: 1rem;
    }
    .presentation_player_p{
        padding: 1em 3rem;
        margin: 0;
        font-size: 1.3rem
    }
    .presentation_nav {
        border-radius: 1rem;
        border-top: 5px solid var(--peach-color);
        border-bottom: 5px solid var(--peach-color);
        width: 30%;
        height: 60%;
        box-shadow: var(--box-shadow-primary);
        background-color:var(--light-yellow-color) ;
        padding: 2rem;
    }
    .presentation_nav nav button{
        border: none;
    }
    
}