<section class="form__container">
    <form class="form" [formGroup]="form">
        <h1><b>Cadastro</b></h1>
        <!-- nickname -->
        <div class="input__container">
            <label for="nickname">Nickname:</label>
            <input 
                type="textarea" 
                placeholder="Escolha um nickname para usar na Merc's"
                formControlName="nickname" 
                id="nickname"
                class="input"   
                />
            <div class="error_msg" *ngIf="form.get('nickname')?.errors?.['required']&&form.get('nickname')?.touched" >Este campo é obrigatório.</div>    
            <div class="error_msg" *ngIf="form.get('nickname')?.errors?.['minlength']&&form.get('nickname')?.dirty" >O Nickname deve conter um mínimo de 3 caractéres.</div>

        </div>

        
        <!-- nascimento -->
        <div class="input__container">
            <label for="nascimento">Data de nascimento:</label>
            <input 
                type="textarea"
                placeholder="DD/MM/AAAA"
                onfocus="(this.type='date')"
                onblur="if(!this.value) this.type='textarea'"
                formControlName="nascimento" 
                id="nascimento"
                class="input" 
                />
        </div>
        <!-- email -->
        <div class="input__container">
            <label for="email">Endereço de e-mail:</label>
            <input 
                type="textarea"
                placeholder="Digite seu email" 
                formControlName="email" 
                id="email"
                class="input"
                placeholder="Ex: ekko@qiyana.com" 
                />
        </div>
        <!-- senha -->
        <div class="input__container">
            <label for="senha">Senha:</label>
            <input 
                type="password"
                placeholder="Escolha sua senha" 
                formControlName="senha" 
                id="senha"
                class="input" 
                />
        </div>
        <!-- checkbox -->
        <div class="checkbox__container">            
            <input 
                type="checkbox" 
                formControlName="check" 
                id="check"
                class="boxOfCheck" 
                />
            <label for="check">Eu concordo com os <a href="#" class="terms_anchor">Termos de uso e Política de privacidade</a> da Merc's.</label>
            
        </div>
        <button 
            (click)="createAccount()" 
            class="button"
            
        >
        Criar conta
        </button>
    </form>
</section>