<footer class="footer">
    <nav class="nav_bar">
        Contatos:
        <div class="social_anchors">
            <a href="https://www.linkedin.com/in/danicassemiro/" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://wa.me/5583991421935" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-whatsapp"></i></a>
            
        </div>
    </nav>
    <p class="rights"> &copy; Mercfuzz - Todos os direitos reservados. </p>
</footer>