<footer class="footer">
    <nav class="nav_bar">
        Contatos:
        <div class="social_anchors">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-twitch"></i></a>
            
        </div>
    </nav>
    <p class="rights"> &copy; Mercfuzz - Todos os direitos reservados. </p>
</footer>