
.anchor__container{
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    margin: 0 0.8em 0 0.8em;

}

.logo_container {
    display: flex;
    align-self: center;
}

.logo_container:hover {
    border-bottom: 2px solid rgb(43, 43, 196);
}

.mercs_name{
    font-size: 2.5em;
    font-family:'Bungee Spice', cursive;
}

.account_ask {
    display: flex;
    gap: 0.5em;
}

.account_ask-text {
    font-family:'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    
}

.account_ask i{
    margin-top: 0.2em;
}


a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}




img {
    border-radius: 50%;
    height: 3.5em;
    min-height: 90%;
} 




